
body {
    font-family: 'Quattrocento', serif;
    font-size: medium;
    text-align: center;
    background-color: #efebdc;
    margin: 0 auto;
  }

.images-chapter-home{
      width: 100%;
}

.images-chapter-about-me{
    width: 100%;
}

.image-chapter-links {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
}
footer {
   background: url('footer-background.jpg'); 
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#Contact-me {
    padding-left: 20px;
}


@media (min-width: 400px) {
body {
    max-width: 720px;
}
.image-chapter-links {
    text-align: center;
}
#name, #email, #feedback{
width:250px;
height: 30px;
/*border: 1px solid;*/
margin-bottom: 10px
}
 #feedback{
height: 90px;
 }
}
