
body {
    font-family: 'Cookie', cursive;
    font-size: larger;
    text-align: center;
    background-color: #91ffc0;
    margin: 0 auto;
  }

.images-chapter-home{
      width: 100%;
}

.images-chapter-about-me{
    width: 100%;
}

#image-chapter-links {
    display: inline-block;
    max-width: 50px;
    height: auto;
    border: 1px solid #91ffc0;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
}
footer {
   background-color: white; 
}

@media (min-width: 400px) {
body {
    max-width: 720px;
}
}
