body {
    font-family: 'Cookie', cursive;
    font-size: medium;
    text-align: center;
    background-color: #91ffc0;
    width: 720px;
    margin: 0 auto;
}

header {
    background-color: #91ffc0;
}




.images-chapter-about-me {
    display: flex;
    justify-content: space-around;
    
}

#image-chapter-links {
    display: inline-block;
    max-width: 50px;
    height: auto;
    border: 1px solid #91ffc0;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#image-map {
    display: inline-block;
    max-width: 500px;
    height: auto;
    border: 1px solid #91ffc0;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
}